version: '3.7'

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    volumes:
      - ./prometheus/config:/etc/prometheus
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.enable-lifecycle'
  syncthing:
    image: syncthing/syncthing
    container_name: syncthing
    restart: always
    network_mode: host
    volumes:
      - type: bind
        source: ./syncthing/config
        target: /var/syncthing/config
      - type: bind
        source: ./var/media
        target: /var/syncthing/sync/media
  deluge:
    image: linuxserver/deluge
    container_name: deluge
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - type: bind
        source: ./deluge/config
        target: /config
      - type: bind
        source: ./deluge/downloads
        target: /downloads
  paperspigot:
    build: ./images/paperspigot
    container_name: paperspigot
    stdin_open: true
    tty: true
    restart: always
    ports:
      - 55942:25565
      - 8123:8123
    volumes:
      - type: bind
        source: ./paperspigot/config
        target: /opt/minecraft/config
      - type: bind
        source: ./paperspigot/worlds
        target: /opt/minecraft/worlds
      - type: bind
        source: ./paperspigot/plugins
        target: /opt/minecraft/plugins
      - type: bind
        source: ./paperspigot/data
        target: /opt/minecraft/data
      - type: bind
        source: ./paperspigot/logs
        target: /opt/minecraft/logs

volumes:
  prometheus-data: {}
