version: '3.7'

services:
  paperspigot:
    build: ./images/paperspigot
    container_name: paperspigot
    stdin_open: true
    tty: true
    restart: always
    ports:
      - 54920:25565
    volumes:
      - type: bind
        source: ./paperspigot/config
        target: /opt/paperspigot/config
      - type: bind
        source: ./paperspigot/worlds
        target: /opt/paperspigot/worlds
      - type: bind
        source: ./paperspigot/plugins
        target: /opt/paperspigot/plugins
      - type: bind
        source: ./paperspigot/data
        target: /opt/paperspigot/data
      - type: bind
        source: ./paperspigot/logs
        target: /opt/paperspigot/logs
